<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - Video Recognition</title>

    <!--links block -->
    {% block links %} {% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- sidebar -->
        <div class="col-md-3 left_col">
          {% include 'layouts/sidebar.html' %}
        </div>
        <!-- /sidebar -->

        <!-- top navigation -->
        <div class="top_nav">{% include 'layouts/navbar.html' %}</div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">{% block main %} {% endblock %}</div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>{% include 'layouts/footer.html' %}</footer>
        <!-- /footer content -->
      </div>
    </div>

    {% block script %} {% endblock %}
  </body>
</html>
